service cloud.firestore {
  match /databases/{database}/documents {
    // Secure by default 
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }    
  
    // Users
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if request.auth.uid == userId;
    }

    // Helper functions
    function matchUser(resource, request) {
      return resource.data.user.id == request.resource.data.user.id
    }
    function matchTrip(resource, request) {
      return resource.data.trip.id == request.resource.data.trip.id
    }

    function existTrip(tripId) {
      return exists(/databases/$(database)/documents/trips/$(tripId))
    }
    function getTripData(tripId) {
      return get(/databases/$(database)/documents/trips/$(tripId)).data
    }

    // Trips
    match /trips/{tripId} {
      allow read: if request.auth.uid == resource.data.user.id || resource.data.privacy == 2; 
      allow update: if request.auth.uid == resource.data.user.id && matchUser(resource, request)
      allow create: if request.auth.uid == request.resource.data.user.id;

      match /posts/{postId} {
        allow read: if true
        allow update: if request.auth.uid == resource.data.user.id 
        allow create: if request.auth.uid == request.resource.data.user.id;
      }

    }

    // Trips Users
    match /trips-users/{tripUserId} {
      // Only read trips-users you owns
      allow read: if request.auth.uid == resource.data.user.id 
      // Only update trips-users you own, but can't update trip or user
      allow update: if request.auth.uid == resource.data.user.id && matchUser(resource, request) && matchTrip(resource, request)
      // Only allow to create trips-users for yourself
      allow create: if request.auth.uid == request.resource.data.user.id  && existTrip(request.resource.data.trip.id);
      // Only allow deletion of your own records
      allow delete: if resource.data.user.id == request.auth.uid
    }

  }
}