.header-image {
  background-image: url("./assets/header-small-compressed-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

@media screen and (max-width: 480px) {
  .header-image {
    background-image: url("./assets/header-narrow-small.jpg");
  }
}